<button type="button" data-backdrop="static"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Register Teacher
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Teacher</h5>
                <button data-bind="click:$root.ClosedModel" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12  border-2 " style="border:2px solid #74777a; padding-top:40px">
                        <h3 class="card-header text-align-center text-secondary"> New Teacher </h3>
                        <div class="card-body" data-bind="with:newTeacher">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input class="form-control" name="firstName" data-bind="value:firstName" required />
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input class="form-control" name="lastName" data-bind="value:lastName" required />
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label><br />
                                <input type="radio" name="gender" value="Male" data-bind="checked:gender" /> Male
                                <input type="radio" name="gender" value="Female" data-bind="checked:gender" /> Female
                            </div>
                            <div class="form-group">
                                <label for="dob">Date Of Birth</label>
                                <input type="datetime-local" name="dob" class="form-control" data-bind="value:dob" />
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input name="address" class="form-control" data-bind="value:address" />
                            </div>
                            <div class="form-group">
                                <label for="address">Qualification</label>
                                <input name="address" class="form-control" data-bind="value:qualification" />
                            </div>
                            
                            <div class="form-group">
                                <label for="salary">Salary</label>
                                <input name="salary" class="form-control" data-bind="value:salary" />
                            </div>
                                
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" data-bs-dismiss="modal" data-bind="click:$root.AddTeacher">Add
                                @* <span data-bind="ifnot:IsUpdated">Add</span> *@
                                @* <span data-bind="if:IsUpdated">Update</span> *@
                                </button>
                            <button class="btn btn-primary" data-bind="click:$root.resetForm">Reset</button>
                        </div>
                        <br /><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>SN.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Qualification</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:teachers">
        <tr>
            <td data-bind="text:id"></td>
            <td data-bind="text:firstName"></td>
            <td data-bind="text:lastName"></td>
            <td data-bind="text:address"></td>
            <td data-bind="text:gender"></td>
            <td data-bind="text:dob"></td>
            <td data-bind="text:qualification"></td>
            <td data-bind="text:salary"></td>
        </tr>

    </tbody>
</table>
@section Scripts {
    <script src="~/js/knockout.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/teacher/Teacher.Model.js"></script>
    <script src="~/js/teacher/Teacher.Controller.js"></script>
    <script>
        {
                var obj = new TeacherController();
                    ko.applyBindings(obj);
                }
    </script>
}